@model IEnumerable<Models.Teacher>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-primary">Teacher List</h2>
        </div>
        <a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">
            Create New Teacher
        </a>

        <form asp-controller="Teacher" asp-action="Index" style="margin-top:20px">
            <p>
                Search Teacher Name : <input type="text" name="SearchString" />
                <input type="submit" value="Filter">
            </p>
        </form>
    </div>

    @if (Model.Count() > -1)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj1 in Model)
                {
                    <tr>
                        <td width="50%">@obj1.TName</td>
                        <td>@obj1.Subject</td>
                        <td>@obj1.Credits</td>
                        <td>
                            <a asp-controller="Teacher" asp-action="Edit" asp-route-subjectid="@obj1.TID"
                        class="btn btn-primary">Edit</a>
                            <a asp-controller="Teacher" asp-action="Delete" asp-route-subjectid="@obj1.TID"
                        class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No subject details.</p>
    }
</div>
